*{
	margin: 0;
	padding: 0;
	font-size: 0;
	border:0;
}
.mini{
	width: 200px;
	height: 150px;
	display: block;
	cursor: pointer;
}
.panel{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.5);
	display: none;
}
.max{
	width: 400px;
	left: 40%;
	margin: 100px auto;
	position: absolute;
	top: 30%;

}
.close{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: 0;
	cursor: pointer;
}
.show{
	display: block;
}
.hidden{
	display: none;
}

